:root {
    --green: #68b882;
    --white: #E7E5E5;
    --navy: #383C58;
    --blue: #8FDAD6;
    
}

/* GRADIENT BACKGROUND */

html {
    background-image: linear-gradient(120deg, #8FDAD6 0%, #383C58 100%);
    min-height: 100vh;
}

nav, .intro {
    font-family: 'Krub', sans-serif;
}

/* NAVIGATION BAR */

nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
nav a {
    color: var(--navy);
    text-decoration: none;
    padding: 10px 20px;
}

/* BODY */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
}

.intro {
    color: var(--navy);
    position: relative;
    z-index: 2;
}

.intro p, h1 {
    margin: 0;
    padding: 0 20px;
}

h1.name {
    font-size: 10vw;
    font-weight: 500;
}

h1 strong {
    font-weight: 300;
}

.tag {
    font-size: 4vw;
}

.logo {
    position: absolute;
    filter: invert(100%) opacity(30%);
    z-index: 1;
    margin: 0 auto;
    width: 80vw;
    max-width: 800px;
}

/* GENERAL */

a {
    text-decoration: none;
    color: var(--navy);
}

/* MEDIA QUERIES */
/* for transforming text */

@media only screen and (min-width: 750px) {
    .nav a {
        font-size: 1.25rem;
    }
    section.intro h1.name {
        font-size: 80px;
    }
    section.intro p.tag {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1000px) {
    nav a {
        font-size: 1.25rem;
    }
    .intro {
        transform: translateX(-150px);
    }
    .tag {
        transform: translateX(100px);
    }
    .logo {
        transform: translateX(150px);
    }
}

/* ABOUT ME PAGE */

.me {
    font-family: 'Roboto', sans-serif;
}

section.aboutme {
    display: flex;
    justify-content: space-evenly;
    /* height: 80vh; */
    width: 1000px;
    margin: 0 auto;
    color: var(--navy);
}

section.experience {
    border: 3px solid var(--green);
    width: 500px;
    padding: 10px;
}

section.bio {
    border: 3px solid var(--green);
    text-align: justify;
    width: 500px;
    padding: 10px;
}


