:root {
    --green: #68b882;
    --white: #E7E5E5;
    --navy: #383C58;
    --blue: #8FDAD6;
    font-family: 'Krub', sans-serif;
}

/* GRADIENT BACKGROUND */

html {
    background-image: linear-gradient(120deg, #8FDAD6 0%, #383C58 100%);
    min-height: 100vh;
}

/* NAVIGATION BAR */

nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
nav a {
    color: var(--navy);
    text-decoration: none;
    padding: 10px 20px;
}

/* BODY */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.intro {
    color: var(--navy);
    position: relative;
    z-index: 2;
}

.intro p, h1 {
    margin: 0;
    padding: 0 20px;
}

.name {
    font-size: 10vw;
    font-weight: 500;
}

strong {
    font-weight: 300;
}

.tag {
    font-size: 16px;
}

.logo {
    position: absolute;
    filter: invert(100%) opacity(30%);
    z-index: 1;
    margin: 0 auto;
    width: 80vw;
    max-width: 800px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 750px) {
    .name {
        font-size: 80px;
    }
    .tag {
        font-size: 24px;
    }
    .intro {
        transform: translateX(-75px);
    }
    .logo {
        transform: translateX(75px);
    }
}

@media only screen and (min-width: 1000px) {
    .intro {
        transform: translateX(-150px);
    }
    .logo {
        transform: translateX(150px);
    }
}